# Dependencias
node_modules/

# Builds / dist
dist/
build/
coverage/

# Logs y debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Entornos / secretos
.env
.env.*
!.env.example

# Sistema / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# PM2 / procesos
pids
*.pid
*.seed
*.pid.lock

# Prisma (si usas)
.prisma/

# Tmp
tmp/
temp/
